HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Gradle
.gradle/
!gradle-wrapper.jar
.gradle/cache/
.gradle/daemon/
.gradle/workspace/
.gradle/buildOutputCleanup/
!gradlew
!gradlew.bat

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
/src/main/java/io/github/playlistmanager/mvc/controller/TestController.java
/src/main/resources/application.yml
/src/main/resources/application-private.yml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
