<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="io.github.cheezeplaylist.dto.JoinMemberDto" alias="MemberDto"></typeAlias>
        <typeAlias type="io.github.cheezeplaylist.dto.MusicFileDto" alias="MusicDto"></typeAlias>
        <typeAlias type="io.github.cheezeplaylist.dto.PlaylistDto" alias="PlaylistDto"></typeAlias>
    </typeAliases>
</configuration>