<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="io.github.playlistmanager.dto.JoinMemberDTO" alias="MemberDto"></typeAlias>
        <typeAlias type="io.github.playlistmanager.dto.MusicFileDTO" alias="MusicDto"></typeAlias>
    </typeAliases>
</configuration>