<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>플레이리스트 생성</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #2e2b45;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100vh;
            color: #f0f0f0;
            animation: fadeIn 1s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .container {
            width: 90%;
            max-width: 600px;
            margin: 20px auto;
            padding-top: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #f0f0f0;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #464255;
            border-radius: 5px;
            background-color: #3e3b5b;
            color: #ffffff;
        }

        input::placeholder {
            color: #b0b0b0;
        }

        .button-group {
            display: flex;
            justify-content: center;
            margin-top: 80px;
        }

        .button-group button {
            padding: 10px 20px;
            margin: 0 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease, transform 0.1s ease;
            color: white;
        }

        .button-group button:hover {
            transform: translateY(-1px);
        }

        .add-room-btn {
            background-color: #514575;
        }

        .add-room-btn:hover {
            background-color: #473c68;
        }

        .cancel-btn {
            background-color: #5c5c5c;
        }

        .cancel-btn:hover {
            background-color: #525252;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>플레이리스트 추가하기</h1>
        <div class="form-group">
            <label for="room-name">이름:</label>
            <input type="text" id="playlistName" placeholder="플레이리스트 이름을 입력하세요" required>
        </div>
        <div class="form-group">
            <label for="channel-id">치지직 ID:</label>
            <input type="text" id="channel-id" placeholder="치지직 ID를 입력하세요" required>
        </div>
        <div class="form-group">
            <label for="support-price">후원 가격:</label>
            <input type="text" id="support-price" placeholder="후원 가격을 입력하세요" required>
        </div>
        <div class="button-group">
            <button class="add-room-btn" onclick="add()">생성</button>
            <button class="cancel-btn" onclick="window.history.back();">취소</button>
        </div>
    </div>
    <script>
        function add() {
            let playlistName = document.getElementById("playlistName").value;
            let chzzkChannelId = document.getElementById("channel-id").value;
            let donationPrice = document.getElementById("support-price").value;

            document.getElementById("playlistName").value = '';
            document.getElementById("channel-id").value = '';
            document.getElementById("support-price").value = '';

            fetch(`/api/v1/playlist?playlistName=${playlistName}&chzzkChannelId=${chzzkChannelId}&donationPrice=${donationPrice}`)
            location.href = '/'
        }
    </script>
</body>
</html>