<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Jua&family=Yeon+Sung&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f4f4f4;
        }

        .login-container {
            background-color: white;
            padding: 40px;
            width: 400px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            text-align: center;
        }

        h2 {
            margin-bottom: 20px;
            font-family: "Jua", sans-serif;
            font-weight: 400;
        }

        .input-group {
            margin-bottom: 20px;
            text-align: left;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 14px;
        }

        input[type="text"]:focus,
        input[type="password"]:focus {
            border-color: #2171cb;
            outline: none;
            box-shadow: 0 0 5px rgba(13, 94, 180, 0.5);
        }

        input::placeholder {
            color: #ccc;
        }

        .forgot-password {
            display: block;
            text-align: right;
            margin-bottom: 20px;
            font-size: 12px;
            color: #555;
            font-family: "Jua", sans-serif;
        }

        .login-btn {
            width: 100%;
            background-color: rgba(22, 98, 180);
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            font-family: "Jua", sans-serif;
            font-weight: 400;
        }

        .signup-link {
            margin-top: 20px;
            font-size: 12px;
            color: #555;
            font-family: "Jua", sans-serif;
        }

        .signup-link a {
            color: #007bff;
            text-decoration: none;
        }

        .social-login {
            margin-bottom: 20px;
        }

        .social-icons img {
            width: 40px;
            margin: 0 15px;
        }

        .social-icons {
            display: flex;
            justify-content: center;
            margin: 10px 0;
        }

        hr {
            border: none;
            height: 1px;
            background-color: #ddd;
            margin: 30px 0;
        }
    </style>
</head>
    <body>
    <div class="login-container">
        <h2>로그인</h2>
        <form method="post" id="login-form">
            <div class="input-group">
                <label for="id">아이디</label>
                <input type="text" id="username" name="username" placeholder="아이디을 입력하세요">
            </div>
            <div class="input-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
            </div>
            <a href="/find" class="forgot-password">비밀번호 찾기</a>
            <button type="submit" class="login-btn">로그인</button>
        </form>
        <div class="signup-link">
            계정이 없으신가요? <a href="/join">지금 생성하세요!</a>
        </div>
        <hr>
        <div class="social-login">
            <div class="social-icons">
                <a href="/oauth2/authorization/google"><img src="google-login-image.png" alt="Google"></a>
                <a href="/oauth2/authorization/kakao"><img src="kakao-login-image.png" alt="Kakao"></a>
                <a href="/oauth2/authorization/naver"><img src="naver-login-image.png" alt="Naver"></a>
                <a href="/oauth2/authorization/facebook"><img src="facebook-login-image.png" alt="Facebook"></a>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("login-form").onsubmit = function() {
            const username = document.getElementById("username")
            const password = document.getElementById("password")

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'username': username.value,
                    'password': password.value
                })
            })
            .then(() => {
                location.href = '/'
            })
            .catch(err => {
                username.value = ''
                password.value = ''
                location.href = '/signup'
                console.log(err)
            });

            return false
        }
    </script>
</body>
</html>