<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>플레이리스트 생성</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="text"]:focus {
            border-color: #007BFF;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <input type="text" id="playlistName" placeholder="방 이름을 입력해주세요.">
        <input type="text" id="chzzkChannelId" placeholder="치지직 아이디를 입력하세요.">
        <input type="submit" value="플레이리스트 추가" onclick="add()">
    </div>

    <script>
        function add() {
            let playlistName = document.getElementById("playlistName").value;
            let chzzkChannelId = document.getElementById("chzzkChannelId").value;

            document.getElementById("playlistName").value = '';
            document.getElementById("chzzkChannelId").value = '';

            fetch(`/api/v1/playlist?playlistName=${playlistName}&chzzkChannelId=${chzzkChannelId}`)
            location.href = '/'
        }
    </script>
</body>
</html>