<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>WebSocket</title>
</head>
<body>
    <div id="chat"></div>

    <script>
        let socket = new WebSocket('https://kr-ss{{serverId}}.chat.naver.com/chat');

        // 해당 웹소켓에 연결이 성공됬을 떄 호출됨
        socket.onopen = () => {
            console.log('치지직 웹소켓에 연결되었습니다.');
            sendInitialRequest(); // 초기 요청 전송
        };

        // 해당 웹소켓 연결이 해재됬을 떄 호출됨
        socket.onclose = (event) => {
            console.log('치지직 웹소켓 연결이 해재되었습니다. ' + + event.reason);
        };

        // 이건 꼭 요청에 포함해야하는 것들이라..
        function sendInitialRequest() {
            const initialRequest = {
                "ver": "2",
                "cmd": 100,
                "svcid": "game",
                "cid": "{{chatChannelId}}",
                "bdy": {
                    "uid": null,
                    "devType": 2001,
                    "accTkn": "{{accessToken}}",
                    "auth": "READ"
                },
                "tid": 1
            };

            socket.send(JSON.stringify(initialRequest));
        }

        // 채팅 JSON 받기
        socket.onmessage = (event) => {
            const message = JSON.parse(event.data);

            // 서버에서 연결 체크 메시지 받기
            if (message.cmd === 0) {
                const response = {
                    "ver": "2",
                    "cmd": 10000
                };
                socket.send(JSON.stringify(response)); // 응답 전송
            }

            fetch(`/chat?chatMessage=${encodeURIComponent(JSON.stringify(message.bdy))}`, { method: 'GET' }).then(response => {
                console.log(response)
            })

            document.getElementById('chat').innerHTML += '<div>' + event.data + '</div>';
        };
    </script>
</body>
</html>

