<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CheezePlaylist - 아이디 찾기</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #eeeeee;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100vh;
            color: #333333;
            animation: fadeIn 1s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .container {
            width: 90%;
            max-width: 600px;
            margin: 20px auto;
            padding-top: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #363636;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #333333;
            border-radius: 5px;
            background-color: #eeeeee;
            color: #3f3f3f;
            outline: none;
        }

        input::placeholder {
            color: #8c8c8c;
        }

        .button-group {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }

        .button-group button {
            padding: 10px 20px;
            margin: 0 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease, transform 0.1s ease;
            color: white;
        }

        .button-group button:hover {
            transform: translateY(-1px);
        }

        .update-btn {
            background-color: #363636;
        }

        .update-btn:hover {
            background-color: #333333;
        }

        .cancel-btn {
            background-color: #5c5c5c;
        }

        .cancel-btn:hover {
            background-color: #525252;
        }

        #findUserId {
            margin-top: 20px;
            color: #5c5c5c;
            text-align: center;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>아이디 찾기</h2>
        <div class="form-group">
            <label for="room-name">이메일:</label>
            <input type="email" id="email" name="email" placeholder="이메일을 입력하세요.">
        </div>
        <div class="button-group">
            <button class="update-btn" onclick="find()">찾기</button>
            <button class="cancel-btn" onclick="location.href='/login-page'">돌아가기</button>
        </div>
        <p id="findUserId"></p>
    </div>

    <script>
        function find() {
            const email = document.getElementById("email").value;
            const findUserId = document.getElementById("findUserId");

            fetch(`/api/v1/find/userid?email=${email}`, { method: 'GET' }).then(response => response.text())
                    .then(data => {
                        findUserId.innerText = data;
                    })
                    .catch(error => {
                        findUserId.innerText = '아이디를 찾을 수 없습니다. 다시 시도하세요.';
                        console.error('Error:', error);
                    });
        }
    </script>
</body>
</html>