<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.playlistmanager.mapper.UserMapper">
    <!-- 회원 관련 -->
    <insert id="save" parameterType="MemberDto">
        insert into member(username, email, password, encryptionpassword, role) values(#{username}, #{email}, #{password}, #{encryptionPassword}, #{role});
    </insert>

    <select id="findByUsername" parameterType="string" resultType="MemberDto">
        select * from member where username = #{username};
    </select>

    <!-- 리프레쉬 토큰 관련 -->
    <insert id="refreshTokenSave" parameterType="string">
        insert into refreshtoken(username, refreshtoken) values(#{username}, #{refreshToken});
    </insert>
    
    <select id="refreshTokenFindByUsername" parameterType="string" resultType="string">
        select refreshtoken.refreshtoken from refreshtoken where username = #{username};
    </select>

    <delete id="refreshTokenDeleteByUsername" parameterType="string">
        delete from refreshtoken where username = #{username};
    </delete>
</mapper>