<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.playlistmanager.mapper.UserMapper">
    <insert id="signUp" parameterType="joinDTO">
        insert into member(username, email, password, role) values(#{username}, #{email}, #{password}, #{role});
    </insert>

    <select id="selectMemberByUsername" parameterType="string" resultType="joinDTO">
        select * from member where username = #{username};
    </select>

    <insert id="mp3FileSave" parameterType="mp3DTO">
        insert into music(roomid, title, musicFileBytes) values(#{roomId}, #{title}, #{musicFileBytes});
    </insert>

    <select id="findByTitle" resultType="mp3DTO">
        SELECT * FROM music WHERE roomid = #{roomId} and title ILIKE #{title}
    </select>

    <select id="selectMusicFiles" parameterType="int" resultType="mp3DTO">
        select * from music where roomid = #{roomId};
    </select>

    <select id="selectMusicFilesByTitle" parameterType="string" resultType="mp3DTO">
        select * from music where title ilike #{title};
    </select>

    <delete id="deleteMusicFile">
        delete from music where roomid = #{roomId} and title ilike #{title};
    </delete>
</mapper>